@font-face {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    background-color: #e5e5e5;
}

.wrapper {
    margin: 0 40px;
    padding: 0;
    max-width: 1200px;
    background-color: #e5e5e5;
}

.main-container {
    flex-grow: 1;
}

.header {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
    color: #000000;
}

.logo {
    width: 139px;
    margin-right: 47px;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation__link {
    max-width: 450px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation__user {
    max-width: 300px;
    margin-left: auto;
}

.welcome {
    margin: 0 auto;
    color: #333333;
    background-color: #e5e5e5;
    background-image: url("../images/index-background-decor.svg"), url("../images/index-background-logo.png");
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 428px, top;
}

.welcome__img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.welcome__titel {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.welcome__description {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0 auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    padding-left: 0;
    width: 1200px;
}

.advantages__item--real-city {
    display: flex;
    color: #ffffff;
    background-color: #83b3d3;
    width: 1200px;
}

.advantages__item--diablo {
    display: flex;
    color: #ffffff;
    background-color: #83b3d3;
    width: 1200px;
}

.advantages__text {
    display: block;
    width: 400px;
    height: 100%;
    margin-left: 0px;
    padding: 0;
    text-align: center;
}

.advantages__head {
    display: block;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.advantages__description {
    display: block;
    width: 220px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    margin-left: 90px;
    margin-right: 90px;
    color: #333333;
}

.advantages__list-attraction {
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
    list-style: none;
    padding-left: 0;
}

.advantages__attraction-item {
    display: block;
    width: 400px;
    height: 100%;
    margin: 75px, auto;
    padding: 0;
}

.advantages__attraction--description {
    width: 250px;
}

.advantages__features--description {
    width: 250px;
}

.advantages--food {
    background-color: #ffffff;
}

.advantages--road {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages__list-features {
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0;
    background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
    display: block;
    text-align: center;
    background-color: #ffffff;
}

.search-hotel__head {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.search-hotel__description {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0 auto;
    width: 720px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #333333;
}

.subscribe {
    display: block;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    background-image: url(../images/index-background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe__title {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe__description {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0 auto;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
}

.subscribe__field {
    width: 600px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background-color: #ffffff;
}

.contacts__social {
    display: block;
    list-style: none;
    margin-left: 72px;
}

.contacts__logo {
    margin-right: 72x;
}

/*Стилизация каталога*/

.main-hotels {
    color: #333333;
    background-color: #ffffff;
}

.main-hotels__head {
    color: #ffffff;
    background-color: #000000;
    background-image: url(../images/catalog-background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-hotels__titel {
    margin-left: 71px;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs__link {
    text-decoration: none;
    color: #ffffff;
}
 /*форма подбора гостиницы*/

.hotels-filter {
    display: flex;
    justify-content: space-between;
    margin-left: 72px;
    margin-right: 72px;
    }

.hotels-filter__list {
    list-style: none;
    padding-left: 0;
    width: 150px;
    margin-left: 72px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.hotels-filter__fildset {
    color: #FFFFFF;
}

.hotels-filter__titel {
    text-align: center;
}

.hotels-filter__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

/*Конец формы подбора гостиницы*/

.select {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.hotels-list__show {
    display: flex;
}

.contanier-sorting {
    display: flex;
}

.select__control {
    width: 287px;
}

.hotels-catalog {
    display: flex;
    margin: 0;
    padding 0;
    flex-wrap: wrap;
}

.hotels-catalog__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.hotels-catalog__item {
    display: block;
    width: 340px;
    padding:  0 20px;
}

.hotels-catalog__item span {
    display: inline;
}

.hotels-catalog__img {
    padding: 0 20px;
}

.hotels-catalog__link {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.hotels-catalog__rating {
    padding:  0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.hotels-catalog__name {
    font-weight: 400;
    padding: 0 20px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotels-catalog__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.pagination {
    display: block;
    text-align: center;
}

.show {

}

.pagination__pages {
    display: flex;
    justify-content: space-around;
}

.pagination__list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.pagination__link {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83b3d3;
    text-decoration: none;
}

.pagination__link--active {
    color: #000000;
    background-color: #f2f2f2;
    text-decoration: none;
}

/*Стилизация кнопок*/

.button {
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
}

.button--like {
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.search-hotel__button {
    font-size: 20px;
    line-height: 36px;
}

.subscribe__button {
    width: 200px;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83b3d3;
}

.pagination__button {
    width: 620px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83b3d3;
}

.button__favorites {
    color: #ffffff;
    background-color: #83b3d3;
    width: 140px;
    border-radius: 4px;
}

.button__favorites--active {
    background-color: #7db54f;
}

.hotels-filter__button {
    display: flex;
    flex-direction: column;
}

.button--apply {
    width: 160px;
    border-radius: 4px;
    background-color: #83b3d3;
}

.button--reset {
    background-color: transparent;
    text-transform: capitalize;
}

.hotels-catalog__button--more {
    display:inline-block;
    margin: 0 20px;
    width: 133px;
    border-radius: 4px;
}
/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/